
.loginPage {
    background-color: #000;
    opacity: 0.7; }
  
.loginForm {
    position: absolute;
    height: 100px;
    width: 100%;
    margin-top: -100px;
    text-align: center;
    top: 50%; }

.title {
    color: #fff;
    font-size: 30px; }

#usernameInput {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    width: 300px;
    color: #fff;
    font-size: 20px;
    margin-top: 10px; }