.pageBottomReference {
    clear: both;
    margin-bottom: 0px; }

.isTyping{
    position: absolute;
    top: 660px;
    left: 10px;
    list-style: none;
    overflow: hidden;
    height: 20px;
}

.isTyping li{
    display: inline;
}