* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif; }

.whiteText {
  color: white; }

.blackText {
  color: black; }

.page {
  width: 100%;
  height: 100%;
  position: fixed; }

.pages {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none; }